body {
   
    display: flex;

    background-color: #F3F5FC;
    height: 100vh;
}

.container,
.container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box; /* Ajusta el modelo de caja para incluir el padding */
    display: flex;
    flex-direction: column;
}

.container-1{
    width: 65%;
}

.container-2{
    width: 35%;
}




#content-principal {
    height: 70%;
   
}

#btn-acciones {
    height: 30%;

  
}



main {
    background-color: #e0e0e0;
    height: 100%;
}

aside {
    background-color: #d0d0d0;
    height: 100%;

}